/* datos personales Pablo López Tamargo UO287694 */

/* Especificidad: 001 */
header {
    display: flex;
}

/* Especificidad: 002 */
header nav {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 799px) {

    /* Especificidad: 001 */
    header {
        display: flex;
        flex-direction: vertical;
    }

    /* Especificidad: 002 */
    header nav {
        display: flex;
        flex: auto;
        flex-direction: vertical;
        justify-content: space-evenly;
    }

    /* Especificidad: 002 */
    header+p {
        display: none;
    }
}