/* MotoGP-Desktop*/
/* Hoja de estilo para el layout del juego de memoria con cartas */

/* Especificidad: 001 */
main {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 1.5rem;
    row-gap: 2rem;
    justify-items: center;
}

/* Especificidad: 001 */
h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 1rem;
}

/* Especificidad: 002 */
main p {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 799px) {

    /* Especificidad: 001 */
    main {
        grid-template-columns: repeat(2, 1fr); /* Advertencia por redefinir propiedad "grid-template-columns" por media-query */
        grid-template-rows: repeat(6, auto); /* Advertencia por redefinir propiedad "grid-template-rows" por media-query */
        column-gap: 0.5rem; /* Advertencia por redefinir propiedad "column-gap" por media-query */
        row-gap: 1rem; /* Advertencia por redefinir propiedad "row-gap" por media-query */
    }

    /* Especificidad: 002 */
    main article {
        max-height: 10rem;
        width: 100%;
    }
}